.gradle/
.idea/
local.properties

build/
**/build/

*.iml
.DS_Store
Thumbs.db

serviceAccountKey.json
*.json.1
backend/config/serviceAccountKey.json

backend/config/serviceAccountKey.json.json
serviceAccountKey*.json
serviceAccountKey*.json.*